.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }  

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.hero {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 16px 0px;
    align-items: flex-start;
}

.header {
    /* border: 2px dotted white; */
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10% 70px 10%;
    gap: 24px;
}

.logo {
    font-size: 24px;
    font-weight: 500;
}
.logo img {
    height: 80px;
}

/* .logo a {
    text-decoration: none;
    color: #F9FAF8;

} */

.header-links {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;  
    font-weight: 300;
    gap: 24px;
}

.header-links a {
    text-decoration: none;
    color: #E5E7EB;

}

.header-links a:hover{
    color: #d2daea;

}

.dashboard {
    /* border: 2px dotted white; */
    margin: 0px 10%;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 100px;
    gap: 50px;
    flex-wrap: wrap-reverse;
}

.dashboard-text {
    /* border: 2px dotted gray; */
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    gap: 12px; 
    width: 100%;
}

.headline {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.subtext {
    color: #E5E7EB;
    font-size: 18px;  
    font-weight: 300;
    padding-bottom: 5px;
}

.signup {
    background-color: #3882F6;
    color: #e5e7eb;
    font-size: 18px;  
    font-weight: 700;
    width: 140px;
    height: 35px;
    border: 0px;
    border-radius: 8px;
    
}

.signup:hover {
    background-color: #2658a7;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.24), 0 13px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
.signup:active {
    background-color: #224d93;
    transform: translateY(1px);
}

.img-container {
    background-color: gray;
    display: flex;
    /* flex-shrink: 0; */
    /* width: 400px; */
    /* max-width: 700px; */
    flex: 1 1 400px;
    align-items: center;
    justify-content: center;
}
.placeholder {
    min-width: 0;
    max-width: 100%;
}

.information {
    /* border: 2px dotted black; */
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0; 
    margin: 0 10% 80px 10%;
}

.info-headline {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    padding-bottom: 40px;
    margin: 0 10%;
    max-width: 100%;


}

.info-container {
    /* border: 2px dotted black; */
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 40px;
    justify-content: space-around;
}

.info {
    width: 180px;
    flex-shrink: 0;
}

.info-image {
    width: 180px;
    height: 180px;
    border: 3px solid #3882f6;
    border-radius: 12px;
    margin-bottom: 10px;
}

.info-text {
    text-align: center;
}

.quote-container {
    /* border: 2px dotted black; */
    /* background-color: #E5E7EB; */
    margin: 0px 10% 10px 10%;
    max-width: 80%;
    padding: 100px 0px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    /* border: 2px dotted black; */
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    width: 800px;
    max-width: 100%;
}

.quote-signature {
    /* border: 2px dotted black; */
    font-size: 24px;
    font-weight: 500;
    margin: 0px 10% 0px 10%;
    /* min-width: 400px; */
    width: 800px;
    max-width: 100%;
    text-align: right;
    
}

.call-to-action {
    margin: 100px 10%;
    padding: 50px 100px;
    background-color: #3882F6;
    min-width: 400px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: #E5E7EB;
}



.action-headline {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.call-to-action .signup {
    border: 2px solid #E5E7EB;
}
.call-to-action .signup:hover {
    background-color: #316dcc;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.24), 0 13px 50px 0 rgba(0,0,0,0.19);

}
.call-to-action .signup:active {
    background-color: #2d62b9;
    transform: translateY(1px);
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 30px 0px;
    /* text-align: center; */
}

.copyright {
    margin: 0 10%;
    text-align: center;
}
